/* You can add global styles to this file, and also import other style files */

:root {
    --background-image-url: url('/assets/images/homepage-image.jpg');
}

html, body { 
    height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.feature-container {
    display: flex;
    justify-content: flex-start;
    min-height: 94vh;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    margin: auto;
    height: 100%;
}

