.register-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: 94vh;

    background-image: var(--background-image-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  mat-card {
    width: 100%;
    max-width: 400px;
    margin: 4%;
    padding: 20px;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
  }

  mat-card-header {
    padding: 16px 16px;
  }
  
  .full-width-input {
    width: 100%;
  }
  
  .submit-button {
    width: 100%;
    margin-top: 20px;
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
  }

  .register-footer {
    justify-content: space-evenly;
  }