.search-ticker-container {
    display: flex;
    justify-content: center;
    width: 30vw;
}

.search-ticker-form {
    width: 100%;
}

.search-ticker {
    width: 100%;
}


@media (max-width: 600px) {
    .search-ticker-container {
        width: 70vw;
    }
}