.alerts-container {
    width: 95%;
    margin: auto;
}

.alerts-table {
    margin-top: 1vh;
}

.alert-state-common {
    color: white;
    padding: 7px;
    border-radius: 7px;
    font-size: 16px;
    display: inline-block;
}

.alert-pending {
    background-color: #B0BEC5;
}

.alert-triggered {
    background-color: #2196F3;
}

.alert-notified {
    background-color: #FF9800;
}

.alert-received {
    background-color: #4CAF50;
}

.alert-canceled {
    background-color: #F44336;
}

/* TODO: ver de la manera mas prolija de no repetir css en multiples lugares */

table {
    width: 100%;
    color: #ffffff;
    background-color: #2e2a24;
}

table th {
    text-align: center;
    font-weight: bold;
    background-color: #3b2f29; 
    color: #a67c00;
    padding: 12px;
}

table td {
    text-align: center;
    padding: 12px;
    background-color: #3e3a35;
    color: #d4af37;
    border-bottom: 1px solid #3b2f29;
}

tr:hover td {
    background-color: #4c453f; 
    color: #87a96b; 
    transition: background-color 0.3s, color 0.3s;
}

td:nth-child(even) {
    color: #87a96b; 
}

td:nth-child(odd) {
    color: #d4af37; 
}


@media (max-width: 600px) {
    .hide-on-mobile {
        display: none !important;
    }

    .alerts-table {
        margin-top: 3vh;
    }
}

