.create-alert-container {
    display: flex;
    justify-content: flex-start;
    padding: 1% 5%;
    text-align: center;
}

.create-alert-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}