.create-alert-container {
    display: flex;
    justify-content: flex-start;
    /* padding: 1% 5%; */
    text-align: center;
    /* max-width: 600px; */
    width: 95%;
    margin: auto;
    margin-top: 3vh;
}

.create-alert-form {
    display: flex;
    gap: 30px;
}

.ticker-input {
    width: 30vw;
}

.price-input {
    width: 20vw;
}

.create-alert-button {
    height: 56px;
}

@media (max-width: 600px) {
    .create-alert-container {
        /* padding: 16px; */
        max-width: 100%;
    }

    .create-alert-form {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }

    .create-alert-form {
        gap: 12px; 
    }

    .ticker-input {
        width: 100%;   
    }

    .price-input {
        width: 100%;
    }

    .create-alert-button {
        font-size: 16px; /* Adjust font size for smaller screens */
        width: 100%;
    }
}