<div class="create-alert-container">
    <form [formGroup]="createAlertForm" (ngSubmit)="submitForm()" class="create-alert-form">
        <mat-form-field>
            <mat-label>Ticker</mat-label>
            <input #tickerInput type="text" class="ticker-input" matInput formControlName="ticker" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayAssetTicker">
                <mat-option *ngFor="let asset of assetSearchList | async" [value]="asset">
                    {{ asset.ticker }} - {{ asset.name }}
                </mat-option>
            </mat-autocomplete>
            <button *ngIf="createAlertForm.get('ticker')!.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="clearTickerInput()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Target Price </mat-label>
            <input matInput formControlName="targetPrice" type="number">
            <button *ngIf="createAlertForm.get('targetPrice')!.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="clearPriceInput()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button type="submit" mat-flat-button color="primary" [disabled]="!isCreateAlertFormValid()">Nueva
            Alerta</button>
    </form>
</div>