.create-alert-container {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 3vh;
}

.create-alert-button {
    min-height: 50px;
    min-width: 250px;
}

.create-alert-button mat-icon {
    margin-right: 8px; 
}

@media (max-width: 600px) {
    .create-alert-container {
        /* padding: 16px; */
        max-width: 100%;
    }

    .create-alert-button {
        font-size: 16px; /* Adjust font size for smaller screens */
        width: 100%;
    }
}