<div class="create-alert-container">
    <form [formGroup]="createAlertForm" (ngSubmit)="submitForm()" class="create-alert-form">
        <app-search-ticker (tickerSelected)="onTickerSelected($event)"></app-search-ticker>

        <mat-form-field class="price-input">
            <mat-label> Target Price </mat-label>
            <input matInput formControlName="targetPrice" type="number">
            <button *ngIf="createAlertForm.get('targetPrice')!.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="clearPriceInput()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button class="create-alert-button" type="submit" mat-flat-button color="primary"
            [disabled]="!isCreateAlertFormValid()">Nueva
            Alerta</button>
    </form>
</div>