<div class="feature-container padding-small">
    <div class="top-space"></div>
    <div class="card">
        <div *ngIf="!(companyProfile$ | async); else companyProfileContent">
            <div class="spinner-container">
                <mat-spinner style="--mdc-circular-progress-active-indicator-color: #e9ae41;"></mat-spinner>
            </div>
        </div>
        <ng-template #companyProfileContent>
            <div *ngIf="companyProfile$ | async as companyProfile">
                <div class="company-profile">
                    <div class="company-header">
                        <div class="company">
                            <img [src]="companyProfile.profile.logo" alt="{{ companyProfile.profile.name }} logo"
                                class="company-logo" />
                            <h1>{{ companyProfile.profile.name }}</h1>
                        </div>
                        <div class="action-container">
                            <button mat-icon-button class="action-button" aria-label="Clear"
                                (click)="onAddToWatchlist()">
                                <mat-icon><span class="material-symbols-outlined">
                                        add_circle
                                    </span></mat-icon>
                            </button>
                            <button mat-icon-button class="action-button" aria-label="Clear" (click)="onCreateAlert()">
                                <mat-icon>add_alert</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="company-information">
                        <p><strong>Ticker:</strong> {{ companyProfile.profile.ticker }}</p>
                        <p><strong>Country:</strong> {{ companyProfile.profile.country }}</p>
                        <p><strong>Currency:</strong> {{ companyProfile.profile.currency }}</p>
                        <p><strong>Exchange:</strong> {{ companyProfile.profile.exchange }}</p>
                        <p><strong>IPO Date:</strong> {{ companyProfile.profile.ipo }}</p>
                        <p><strong>Market Capitalization:</strong> {{ companyProfile.profile.marketCapitalization * 1000
                            |
                            currency
                            }}
                        </p>
                        <p><strong>Share Outstanding:</strong> {{ companyProfile.profile.shareOutstanding }} B</p>
                        <p><strong>Industry:</strong> {{ companyProfile.profile.finnhubIndustry }}</p>
                        <p><strong>Website: </strong> <a [href]="companyProfile.profile.weburl" target="_blank">{{
                                companyProfile.profile.weburl
                                }}</a>
                        </p>
                        <p>
                            <strong>Cedear Ratio: {{ companyProfile.cedearCotizacion.ratio }}</strong>
                        </p>
                        <p>
                            <strong>Cedear Compra: {{ companyProfile.cedearCotizacion.cedearCompra | currency:
                                'ARS $':'symbol':'1.2-2' }}</strong>
                        </p>
                        <p>
                            <strong>Cedear Venta: {{ companyProfile.cedearCotizacion.cedearVenta | currency:
                                'ARS $':'symbol':'1.2-2' }}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>