.top-space{
    height: 10vh;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.company-profile {
    margin-top: 10vh;
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 80%;
    margin: auto;
  }
  
  .company-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    margin-right: 10px;
  }

  .company-header {
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 100%;
  }

  .company {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    align-items: center;
    width: 50%;
  }

  .action-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

  .action-button {
    transform: scale(2);
  }

  .action-button:hover {
    color:white;
  }

  .company-information {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .company-information p {
    flex: 1 1 calc(33.333% - 16px); /* Each item will take 1/3rd of the width */
    margin: 0;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis for overflowed text */
    position: relative; /* For positioning the hover tooltip */
  }

  .company-information p:hover {
    white-space: normal; /* Allow text to wrap */
    overflow: visible; /* Show the full text */
    z-index: 1; /* Ensure the text appears above other elements */
  }

  
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    margin: 5px 0;
  }

  p strong  {
    font-weight: 550;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: orange;
  }




@media (max-width: 600px) {
  .padding-small{
    padding: 0px 20px;
  }

  .company-header {
    flex-direction: column;
    margin-top: 20px;
  }

  .company {
    justify-content: flex-start;
    width: 80%;
  }

  .action-container {
    padding: 20px;
    width: 100%;
  }
}