<mat-toolbar class="toolbar">
    <div class="appname-cotainer">
        <img src="assets/images/logo.png" alt="App Logo" class="app-logo" width="50" height="50">
        <span>Ticker Alert App</span>
    </div>
    <div *ngIf="username" class="user-login">
        <div class="user-info">
            <mat-icon>account_circle</mat-icon>
            <span>{{username}}</span>
        </div>
        <div>
            <button mat-button (click)="onLogout()">Logout</button>
        </div>
    </div>
</mat-toolbar>