
/* workaround to determine fixed 6vh toolbar height */
::ng-deep .mat-toolbar-row, 
::ng-deep .mat-toolbar-single-row
::ng-deep .mat-toolbar-multiple-rows {
  height: 6vh;
}

.toolbar-container .mat-toolbar-row,
.toolbar-container .mat-toolbar-single-row {
    height: 6vh !important;
}

.toolbar-container {
    min-height: 6vh !important;
}

.toolbar {
    justify-content: space-between;
    width: 100%;
}

.app-logo {
    height: 6vh;
    width: 6vh;
}

.appname-cotainer{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}

.user-login {
    display: flex;
    justify-content: space-between;
    align-items: center; /* This centers the items vertically */
}

.user-login > div {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.user-info {
    padding: 20px;
}

mat-icon {
    margin-right: 8px;
}

@media (max-width: 600px) {
    .user-info {
        display: none !important;
    }
}